
fieldset {
background-color:rgb(255,246,205);	
border:1px solid rgb(233,69,0);
margin:10px 0px 30px 2.5%;
width:70%;
}

/*  this overides the generic fieldset css setting for this item by id */
#experience {
background-color:rgb(217, 227, 235);	
border:1px solid rgb(0, 167, 233);
margin:10px 0px 30px 2.5%;
width:46%;
}
